body {
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 6rem;
  color: rgb(255, 255, 255);
  background-color: rgb(142, 0, 0);
  padding: 15px;
  border-radius: 10px;
  border: 15px solid rgb(34, 96, 218);
}

.game-intro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

#logo-img {
  width: 30vw;
}
#game-logo {
  width: 30vw;
}

#arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#left-game-div {
  padding-top: 30px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
